<div ng-app="app" ng-controller="BrowseLicenseTypesCtrl">
    <div class="row">
        <button type="button" class="btn btn-primary pull-right" onclick="AddLicenseTypeRedirect()">Add license type</button>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="licenseType in licenseTypes">
                    <td class="text-uppercase">{{licenseType.name}}</td>
                    <td>
                        <button type="button" class="btn btn-warning pull-right" ng-click="DeleteButton(licenseType.licenseTypeId)">Delete license type</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>