<div ng-app="app" ng-controller="AddLicenseFormCtrl">
    <div class="row">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="count">Count</label>
                <input type="text" class="form-control" id="count">
            </div>
            <div class="form-group">
                <label for="buyDate">Buy date</label>
                <input type="date" class="form-control" id="buyDate">
            </div>
            <div ng-controller="BrowseLicenseTypesCtrl">
                <label for="licenseTypeSelect">Wybierz typ licencji</label>
                <select id="licenseTypeSelect" class="form-control" ng-model="selectedLicenseType" 
                    ng-options="l.name for l in licenseTypes track by l.licenseTypeId">
                    <option value="">--Select license type--</option>
                </select>
            </div>
            </br>
            <button type="submit" class="btn btn-info pull-right">Add license</button>
            <button type="submit" class="btn btn-warning pull-left" onclick="MainPageRedirect()">Return</button>
        </form>
    </div>

</div>


