<div ng-app="app">
    <div class="row">
        <form ng-controller="AddLicenseFormCtrl">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" ng-model="name">
            </div>
            <div class="form-group">
                <label for="count">Count</label>
                <input type="text" class="form-control" id="count"  ng-model="count">
            </div>
            <div class="form-group">
                <label for="buyDate">Buy date</label>
                <input type="date" class="form-control" id="buyDate"  ng-model="buyDate">
            </div>
            <div class="form-group">
                <label for="licenseTypeSelect">Wybierz typ licencji</label>
                <select ng-model="ddlLicenseTypes" ng-options="licenseType.licenseTypeId as 
                        licenseType.name for licenseType in licenseTypes" class="form-control"></select>
            </div>
            <div class="row">
                <button class="btn btn-info pull-right" ng-click="AddLicenseButton()">Add license</button>
                <button type="submit" class="btn btn-warning pull-left" onclick="MainPageRedirect()">Return</button>
            </div>
            
        </form>
    </div>

</div>


