<div class = "row" ng-app="licenseApp" ng-controller="BrowseLicensesController"> 
    <div class="row ">
        <div class="col s3">
            <h5>Lista licencji</h5>
        </div>
        <div class="col s9">
            <a class="waves-effect waves-light btn right button-top-margin green" href="/licenses/add">Dodaj</a>
        </div>
    </div>

    <div class="row">
        <table class="highlight bordered">
            <thead>
                <th>Nazwa</th>
                <th>Ilość</th>
                <th>Data zakupu</th>
                <th>Typ licencji</th>
            </thead>
            <tbody>
            <tr ng-repeat="license in licenses">
                <td>{{license.name}}</td>
                <td>{{license.count}}</td>
                <td>{{license.buyDate | date: 'MM/dd/yyyy'}}</td>
                <td ng-controller="GetLicenseType">{{licenseType}}</td>
            </tr>
            </tbody>
        </div>
</div>