<div ng-app="app" ng-controller="BrowseLicensesCtrl">
    <div class="row">
        <button type="button" class="btn btn-primary pull-right" onclick="AddLicenseRedirect()">Add license</button>
    </div>
    <div class="row">
        <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Count</th>
                        <th>License Type</th>
                        <th>Buy date (dd.MM.yyyy)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="license in licenses" ng-click="selectLicense(license.licenseId)">
                        <td>{{license.name}}</td>
                        <td>{{license.count}}</td>
                        <td ng-controller="GetLicenseTypeNameCtrl">{{licenseTypeName}}</td>
                        <td>{{license.buyDate | date: 'dd.MM.yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/controllers/licenses.js" asp-append-version="true"></script>
    <script src="~/js/controllers/licenseTypes.js" asp-append-version="true"></script>
}