<div ng-app="app">
    <div class="row">
        <form ng-controller="AddComputerFormCtrl">
            <div class="form-group">
                <label for="name">Inventory number</label>
                <input type="text" class="form-control" id="inventoryNumber" ng-model="inventoryNumber">
            </div>
            <div class="form-group">
                <label for="count">IP address</label>
                <input type="text" class="form-control" id="ipAddress" ng-model="ipAddress">
            </div>
            <div class="form-group">
                <label for="roomSelect">Choose room</label>
                <select ng-model="ddlRooms" ng-options="room.roomId as
                        room.name for room in rooms" class="form-control text-uppercase"></select>
            </div>
            <div class="form-group">
                <label for="userSelect">Choose users</label>
                <select ng-model="ddlUsers" ng-options="user.userId as user.name + ' ' + user.surname for user in users" class="form-control text-uppercase" multiple></select>
            </div>
            <div class="row">
                <button class="btn btn-info pull-right" ng-click="AddComputerButton()" type="button">Add computer</button>
                <button type="button" class="btn btn-warning pull-left" onclick="BrowseComputerRedirect()">Return</button>
            </div>

        </form>
    </div>

</div>

@section Scripts{
    <script src="~/js/controllers/computers.js" asp-append-version="true"></script>
    <script src="~/js/controllers/rooms.js" asp-append-version="true"></script>
}