<div ng-app="app" ng-controller="BrowseComputersCtrl">
    <div class="row">
        <button type="button" class="btn btn-primary pull-right" onclick="AddComputerRedirect()">Add computer</button>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Inventory number</th>
                    <th>IP address</th>
                    <th>Room</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="computer in computers" ng-click="selectComputer(computer.computerId)">
                    <td>{{computer.inventoryNumber}}</td>
                    <td>{{computer.ipAddress}}</td>
                    <td ng-controller="GetRoomNameCtrl">{{roomName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>